.heading{
    color: black;
    font-size: 25px;
    font-family: "roboto";
    margin-left: 500px;
    justify-content: center;
    align-items: center;
   
}
.ButtonsContainer{
    display: flex;
    margin-left: 280px;
    
   
}
.button1 {
    background-color:blue;
    border-radius: 5px;
    color: white;
    height: 50px;
    width: 160px;
    margin-right: 10px;

}
.button2 {
    background-color:blue;
    border-radius: 5px;
    color: white;
    height: 50px;
    width: 160px;

}